@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@700&display=swap');

*,
*::before,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.25rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

header,
main,
footer {
  margin: 0 10%;
}

.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.option-container {
  display: flex;
  height: 3rem;
  border-bottom: 1px solid #bdbdbd;
}
.option-container button {
  flex: 1 1 0px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.form-container {
  margin: 1rem 0;
}

.form-control {
  display: flex;
}

.input-text {
  flex-grow: 1;
}
.button-submit {
  cursor: pointer;
  flex-grow: 0.4;
}
