@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@700&display=swap');

*,
*::before,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.25rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

header,
main,
footer {
  margin: 0 10%;
}

.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.filter-container {
  display: flex;
  align-items: flex-end;
  height: 3rem;
  border-bottom: 1px solid #bdbdbd;
}
.filter-container button {
  font-weight: 600;
  font-size: 0.9rem;
  flex: 1 1 0px;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.filter-container button:focus {
  outline: none !important;
}
.filter-container button[aria-pressed='true'] .line {
  width: 50%;
  height: 4px;
  margin: auto auto 0;
  border-bottom: 4px solid #2f80ed;
  border-radius: 4px 4px 0px 0px;
}

.form-container {
  margin: 1rem 0;
}

.form-control {
  display: flex;
  height: 3.5rem;
}

.input-text {
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  padding: 20px 12px;
  color: #333;
  font-size: 0.9rem;
  flex-grow: 1;
  margin-right: 1.5rem;
}
.input-text:hover,
.input-text:focus {
  outline: none !important;
  border: 1px solid #333;
  border-radius: 12px;
}
.input-text::placeholder {
  color: #828282;
}
.button-submit {
  cursor: pointer;
  flex-grow: 0.4;
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
}
.button-submit:hover {
  box-shadow: 0px 8px 12px rgba(127, 177, 243, 0.4);
  background: #416ca3;
}
.button-submit:focus {
  outline: none !important;
}

.todos-container {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
}

.todo {
  margin: 0.45rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-text,
.delete-icon {
  height: 100%;
  display: flex;
  align-items: center;
}
.checkbox {
  border: 1px solid #828282;
  border-radius: 4px;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.label {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.checkbox:checked ~ .label {
  text-decoration: line-through;
}
.delete-icon button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0px;
  margin-right: 0.5rem;
  color: #bdbdbd;
  cursor: pointer;
}

.del-all-container {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
}
.del-all-container button {
  padding: 12px 26px;
  border: none;
  background: #eb5757;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.del-all-container button i {
  margin-right: 0.25rem;
  font-size: 1rem;
}
.del-all-container button:hover {
  background: #d35a5a;
}
.del-all-container button:focus {
  outline: none !important;
}
